<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laquysoft.cleanchucknorrisator">

    <!--Permissions-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <!--Application-->
    <application
        android:allowBackup="true"
        android:name=".AndroidApplication"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--Activities-->
        <activity
            android:name=".navigation.RouteActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".features.chooser.ChooserActivity"
            android:label="@string/chooser_screen_title">
        </activity>
        <activity
            android:name=".features.changename.ChangedNameActivity"
            android:label="@string/change_name_screen_title">
        </activity>
        <activity
            android:name=".features.neverendingjokes.NeverEndingActivity"
            android:label="@string/never_ending_screen_title">
        </activity>

    </application>
</manifest>
